/*desktop view*/
body{
	background: aqua;
}
#outer-div{
	display:flex;
	background: orange;
	justify-content: space-around;
	margin: 10%;
	border-radius: 3%
}
.subdiv{
     background: bisque;
     margin: 4%;
     border-radius: 3%;
     text-align: center;
     width: 30%;
     box-shadow: 4px 4px 4px 4px;
}
img{
	box-shadow: 2px 2px 2px 2px;
	margin: 3%;
	border-radius:4%;
	height: 45%;
	width: 70%;
}
.subdiv:hover{
	background: aqua; 
}
@media screen and (max-width: 480px){
body{
	background: #F6F642;
}
#outer-div{
	display: inline-block;
	background: #7898CA;
	justify-content: space-around;
	margin: 10%;
	border-radius: 3%
}
.subdiv{
     background: #FC9297;
     margin: 4%;
     border-radius: 3%;
     text-align: center;
     width: 90%;
     box-shadow: 4px 4px 4px 4px;
}
@media screen and (min-width: 481px) and (max-width: 660px){
body{
	background: #EF5057;
}
#outer-div{
	display: inline-block;
	background: ;
	justify-content: space-around;
	margin: 10%;
	border-radius: 3%
}
.subdiv{
     background: #FC9297;
     margin: 4%;
     border-radius: 3%;
     text-align: center;
     width: 90%;
     box-shadow: 4px 4px 4px 4px;
     height: 95%;
}

}